<ul data-orbit>
	<li class="slidery"><img src="img/new-pic.jpg">
		<div class="orbit-caption">
                <p>only good things we bring</p>
</div>
</li>
	<li class="slidery"><img src="img/new-pic.jpg"></li> 
	<li class="slidery"><img src="img/bean-dream.jpg"></li>
	<li class="slidery"><img src="img/coffeman.jpg"></li>
</ul>





<div class="row">
		<div class="large-8 large-centered columns">
			<h1>about</h1>
			<p>WStarted by three students at the C+D academy in 2008. After long hours coding, they  
				needed a place to cool out but could not finding a place
				they liked. So, They started Java Life. A coffee shop and lounge with a hip
				, updeat vibe. Java Life is a sleek, mordern designed lounge with music
				and art. With lounges worldwide, each one reflex the culture and the vibe of that location. Java Life provide the finest coffes, teas and food.</p>
		</div>
		
	</div>