<div class="maincontent">
	<h2><center>Send us and email</center></h2>

		<form action = "/contact" method="POST">
			<label for="email">EMAIL</label>
			<input type="text" name="email" id="email" cols="50" >

			<br>
			<label for="subject">SUBJECT:</label>
			<input type="text" name="subject" id="subject" cols="50">

			<br>
			<label for="message">MESSAGE</label>
			<textarea type= "text" name="message" id="message" rows="20" cols="50"></textarea>

			<br>
			<input type="submit">
		</form>


</div> <!--END OF MAIN CONTENT-->