
<div class="row">
		<div class="large-12 columns  columns">
			<h1>events</h1>
			<p class="pull-4 columns">WStarted by three students at the C+D academy in 2008. After long hours coding, they  
				needed a place to cool out but could not finding a place
				they liked. So, They started Java Life. A coffee shop and lounge with a hip
				, updeat vibe. Java Life is a sleek, mordern designed lounge with music
				and art. With lounges worldwide, each one reflex the culture and the vibe of that location. Java Life provide the finest coffes, teas and food.</p>
		</div>	
		 <div class="row">
				<div class="large-6 columns columns">
					<h1>Dates</h1>
					<ul>
						<li>Sept....Muddy Water Bourbon Band</li>
						<li>Sept....Bill Gully and The Whistles</li>
						<li>Sept....The Cleansing</li>
						<li>Sept....Little River Band</li>
						</ul>
				</div>
		</div>
		
	</div>