  <ul data-orbit>
  	<li><img src="img/coffeman.jpg"></li>
  	<li><img src="img/bean-dream.jpg"></li>
	  <li><img src="img/ciynew.jpg"></li>
		
		
	</ul>
	<div class="row">
		<div class="large-6 columns">
			<h1>Free Trade</h1>
			<p>We painstakingly take maticulous care to ensure that our beans are bought from onlyfr free trade growers.The beans are 100% organic and pesticide free Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
		<div class="large-6 columns">
			<h1>100% Oraganic</h1>
			<p>We painstakingly take maticulous care to ensure that our beans are bought from onlyfr free trade growers. The beans are 100% organic and pesticide free Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
