<ul data-orbit>
	<li><img src="img/new-pic.jpg"></li>
	<li><img src="img/coffeman.jpg"></li>
	<li><img src="img/bean-dream.jpg"></li>
</ul>
<div class="row">
	<h1>Home</h1>
	<div class="row">
	<div class="small-6 columns pull columns"> 
		<a class="button" href="/about">Read more >></a>
    
	</div>

	<div class="row">
	<div class="small-12 columns">
	  <p>While this is one small columns equal to a whopping nine extra big spaces that take up more space Started by three students at the C+D academy in 2008. After long hours coding, they needed a place to cool out but could not finding a place Started by three students at the C+D academy in 2008. After long hours coding, they needed a place to cool out but could not finding a place Started by three students at the C+D academy in 2008. After long hours coding, they needed a place to cool out but could not finding a place</p>
	</div>
</div>
<div class="row">
	  <div class="small-12 columns small-centered"><img src="img/coffeman.jpg">
</div>
	<div class="row" id="para">
	  <div class="small-6 columns">
	  		<p>Started by three students at the C+D academy in 2008. After long hours coding, they needed a place to cool out but could not finding a place they liked. So, They started Java Life. A coffee shop and lounge with a hip, updeat vibe. Java Life is a sleek, mordern designed lounge with music and art. With lounges worldwide, each one reflex the culture and the vibe of that location. Java Life provide the finest coffes, teas and food.</p>
  </div>
  	  <div class="small-6 columns">
	  		<p>Started by three students at the C+D academy in 2008. After long hours coding, they needed a place to cool out but could not finding a place they liked. So, They started Java Life. A coffee shop and lounge with a hip, updeat vibe. Java Life is a sleek, mordern designed lounge with music and art. With lounges worldwide, each one reflex the culture and the vibe of that location. Java Life provide the finest coffes, teas and food.</p>
  </div>
  <div>


  </div>
  </div>
	
</div>